<!DOCTYPE html>
<html lang="en" ng-app="rehearse">
  <head>
    <% include header.ejs %>
    <title>Rehearse</title>
    <script src="/scripts/stats.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/record.css">
  </head>
  <body>
    <% include navbar.ejs %>
    <div class="container-fluid" id="main">
      <h1><%= user.username %>'s Profile</h1>
      <div id="stats-section" ng-controller="Stats as stats">
            <div class="container">
          <div class="row">
            <div class="col-sm-6 score-category">
              <h2>Average Clarity</h2>
              <div class="score" id="clarity"><%= user.sessions_info.avclarity %></div>
            </div>
            <div class="col-sm-6 score-category">
              <h2>Average Hesitation</h2>
              <div class="score" id="hesitation"><%= user.sessions_info.avhesitation %></div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 score-category">
              <h2>Average Words per Minute</h2>
              <div class="score" id="wpm"><%= user.sessions_info.avwpm %></div>
            </div>
            <div class="col-sm-6 score-category">
              <h2>Average Word Spacing</h2>
              <div class="score" id="spacing"><%= user.sessions_info.avspacing %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include scripts.ejs %>
  </body>
</html>